<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forget password</title>
</head>

<body>
    <form action="" method="post">
        {% csrf_token %}

        <h1>Get Your Password</h1>



        <label>Enter Your Username</label>
        <input type="text" class="form-control" id="un" name="username" placeholder="Enter Username Here...">

                <label>Enter New Password</label>
                <input type="password" name="npass" placeholder="Enter New Password...">
            </div>
            <div >
                <input type="submit" value="CHANGE MY PASSWORD" >
            </div>
        </div>

    </form>
    </div>
    </div>
    </div>
    </div>
</body>

</html>
