<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>update page</title>
    <style>
        .editpage{
            text-align: center;
            padding-top: 30px;
        }
        h1 {
            color: blue;
        }
        .show {
            text-align: center;
        }

    </style>
</head>

<body>
    <h1>Registration for the Restaurents! </h1>
    <form action="/recordupdated" method="post">
        {% csrf_token %}
        <div class="editpage">
            <div>
                <h3>Name of the Restaurent :-<input required autofocus type="text" name="Name" value="{{Name}}"></h3>
            </div>
            <div>
                <h3>Address :-<input required autofocustype="text" name="Address" value="{{Address}}"></h3>
            </div>
            <div>
                <h3>City :-<input required autofocus type="text" name="City" value="{{City}}"></h3>
            </div>
            <div>
                <h3>State :-<input required autofocus type="text" name="State" value="{{State}}"></h3>
            </div>
            <div>
                <h3>Owner's name :-<input required autofocus type="text" name="Owner" value="{{Owner}}"></h3>
            </div>
            <div>
                <h3>Owner's mob. no. :-<input required autofocus type="integer" name="Phone" value="{{Phone}}"></h3>
            </div>
            <div>
                <h3>Type:- VEG <input required autofocus type="radio" name="type" value="{{Type}}"> NON-VEG <input
                        required autofocus type="radio" name="type" value="{{Type}}"> BOTH <input required autofocus
                        type="radio" name="type" value="{{Type}}"></h3>
            </div>
            <div>
                <h3> Date of registration :-<input required autofocus type="date" name='Date' value="{{Date}}"></h3>
            </div>

            <div>
                <h3><input type="submit" value="update" id="button"></h3>
            </div>
        </div>
    </form>
    <form class="show" action="restaurent">
        <input type="submit" value="SHOW RESTAURENT LIST">
    </form>


</body>

</html>

</form>
</body>

</html>
